body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hovered{
    background-color: black;
}